# Dependabot Configuration
# https://docs.github.com/code-security/supply-chain-security/configuration-options-for-dependency-updates
version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
  cooldown:
    default-days: 4
- package-ecosystem: "pip"
  directory: "/"
  schedule:
    interval: "daily"
  cooldown:
    default-days: 4
