[MASTER]
ignore = .tox,.venv,.vulture
# Add src to $PYTHONPATH so modules can be resolved during linting
# See https://stackoverflow.com/q/1899436
# FIXME: Can't get path to this file if specified using --rcfile option
init-hook =
    import os.path
    import sys
    from pylint.config import PYLINTRC
    # Check that PYLINTRC is this file (instead of --rcfile) using UUID
    if PYLINTRC and '11773e58-e61a-4366-ba2b-0b75481de6de' in open(PYLINTRC).read(): \
        sys.path.append(os.path.join(os.path.dirname(PYLINTRC), 'src'))
    else: \
        sys.stderr.write('Error: init-hook unable to find .pylintrc\n')
load-plugins =
    pylint.extensions.bad_builtin,
    pylint.extensions.check_elif,
    pylint.extensions.docparams,
    pylint.extensions.emptystring,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.redefined_variable_type,
    pylint_quotes

[MESSAGES CONTROL]
disable =
    fixme,
    locally-disabled,
    locally-enabled

[FORMAT]
max-line-length = 80
ignore-long-lines = ^\s*(# )?<?https?://\S+>?$

# Enforce string quoting style
# Follow PEP 257 recommendation to use double quotes around docstrings
docstring-quote = double
string-quote = single-avoid-escape
triple-quote = single

[BASIC]
bad-names =
    # _LOGGER is too loud, even if it is more consistent
    _LOGGER,
good-names =
    # Ok for throw-away values
    _,
    # _LOGGER is too loud, even if it is more consistent
    _logger,
    # Single-letter index names with small scopes are ok
    i,
    j,
    k,

# pylint.extensions.docparams options
# https://pylint.readthedocs.io/en/latest/technical_reference/extensions.html#parameter-documentation-checker-options
accept-no-param-doc = no
accept-no-raise-doc = no
accept-no-return-doc = no
accept-no-yields-doc = no
default-docstring-type = sphinx

# vi: set ft=dosini :
