# Additional files to include in package source distribution
# https://packaging.python.org/en/latest/guides/using-manifest-in/

include LICENSE.txt
include README.rst

# Include any PEP 0561 inline type information marker files
recursive-include src py.typed

# Include documentation and tests in source package
# See https://github.com/PyCQA/pydocstyle/pull/252#issuecomment-297987794
recursive-include docs *.py *.rst
recursive-include tests *.py
include tox.ini
