# Abstract top-level development dependencies (e.g. linters and other tools)
bandit!=1.6.3
black; python_version >= '3.6'
blacken-docs; python_version >= '3.6'
flake8
flake8-bugbear; python_version >= '3.5'
flake8-comprehensions
flake8-docstrings
flake8-isort
flake8-logging-format
flake8-rst-docstrings
# Required for `setup.py check --restructuredtext --strict`.  Otherwise:
# warning: check: Cannot analyze code. Pygments package not found.
pygments
pylint-quotes
pylint_runner
pyroma
vulture

# For projects using PEP 484 type hints:
# flake8-mypy
# pyre-check
# pytype
